page-page1 {

  .scroll-content {

    background: url("../assets/img/home.png");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
  }


  .mybutton {

    position: absolute;
    left: 0;
    top: 82%;
  }


}
